@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --text: #e5e7eb;
}

[data-theme="cyber"] {
  --bg: #020617;
  --text: #22d3ee;
  font-family: monospace;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}
