---
import Navbar from '../ui/Navbar.astro';
import Footer from '../ui/Footer.astro';
import '../styles/global.css';
---

<html>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html> 
