---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';

// IMPORT images từ src/assets (auto optimize + auto size)
import img1 from '../assets/images/1.jpeg';
---
<MainLayout>
  <Navbar />

  <!-- Masonry layout, no CLS, auto optimized -->
  <div transition:name="gallery" class="columns-2 md:columns-4 gap-2 p-2">
    <Image src={img1} alt="img" class="mb-2 rounded-xl" />
  </div>
</MainLayout>
