---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageCard from "../components/media/ImageCard.astro";
---

<BaseLayout>
  <h1>Gallery</h1>
  <ImageCard src="/assets/images/test.jpg" />
</BaseLayout> 
