---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
---
<MainLayout>
  <Navbar />

  <div class="columns-2 md:columns-4 gap-2 p-2">
    <Image src="/images/1.jpg" alt="img" loading="lazy" class="mb-2 rounded-xl" />
    <Image src="/images/2.jpg" alt="img" loading="lazy" class="mb-2 rounded-xl" />
    <Image src="/images/3.jpg" alt="img" loading="lazy" class="mb-2 rounded-xl" />
    <Image src="/images/4.jpg" alt="img" loading="lazy" class="mb-2 rounded-xl" />
  </div>
</MainLayout>
