---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
---
<MainLayout>
  <Navbar />

  <section class="h-screen flex flex-col items-center justify-center text-center px-4">
    <h1 class="text-5xl font-bold mb-4">Astro 2026 ⚡</h1>
    <p class="text-lg opacity-70">Zero JS. Native feel. Cyber ready.</p>
  </section>
</MainLayout>
