---
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>𝐀𝐎𝐈 𝐂𝐇𝐀𝐍</title>
  </head>
  <body>
    <Header title="🚀 Astro GitHub Pages Template" />
    
    <p>Hế lô các bạn 😁</p>

    <ul>
      <li>⚡ Siêu nhẹ</li>
      <li>📦 Build nhanh</li>
      <li>🤖 Auto deploy</li>
    </ul>
  </body>
</html>
