---
import Header from "src/components/Header.astro";
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Aoi-Chan Astro ⚡</title>
  </head>
  <body>
    <Header title="🚀 Astro GitHub Pages Template" />
    
    <p>Deploy tự động bằng GitHub Actions + pnpm</p>

    <ul>
      <li>⚡ Siêu nhẹ</li>
      <li>📦 Build nhanh</li>
      <li>🤖 Auto deploy</li>
    </ul>
  </body>
</html>
