---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
---
<MainLayout>
  <Navbar />

  <section transition:name="home" class="h-screen flex flex-col items-center justify-center text-center px-4">
    <h1 class="text-5xl font-bold mb-4">AoiChan 2026 ⚡</h1>
    <p class="text-lg opacity-70">🌿. 👅. 🌿.</p>
  </section>
</MainLayout>
