---
import BaseLayout from "../layouts/BaseLayout.astro";
import VideoPlayer from "../components/media/VideoPlayer.astro";
---

<BaseLayout>
  <h1>Media</h1>

  <VideoPlayer src="/assets/video/test.mp4" />
</BaseLayout> 
