---
import BaseLayout from "../layouts/BaseLayout.astro";
import AudioPlayer from "../components/media/AudioPlayer.astro";
import VideoPlayer from "../components/media/VideoPlayer.astro";
---

<BaseLayout>
  <h1>Media</h1>

  <AudioPlayer src="/assets/audio/nhacnen.mp3" />
  <VideoPlayer src="/assets/video/test.mp4" />
</BaseLayout> 
