body {
  margin: 0;
  font-family: sans-serif;
  background: #0f0f2d;
  color: white;
}

/* ===== UI ===== */
.container {
  text-align: center;
  padding: 60px;
}

/* ===== FAB BUTTON ===== */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;

  background: #8a2be2;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;

  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* ===== BOTTOM SHEET ===== */
.sheet {
  position: fixed;
  left: 0;
  bottom: -300px;

  width: 100%;
  height: 260px;

  background: #111;
  border-radius: 20px 20px 0 0;

  padding: 20px;
  transition: 0.3s;
}

.sheet.show {
  bottom: 0;
}

/* header */
.sheet-header {
  text-align: center;
  margin-bottom: 10px;
}

.drag {
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 2px;
  margin: 0 auto 10px;
}

/* item */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* ===== SWITCH ===== */
.switch {
  position: relative;
  width: 50px;
  height: 26px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #555;
  border-radius: 30px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background: #8a2be2;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

/* ===== LIGHT ===== */
body.light {
  background: #f2f2f2;
  color: #111;
}

body.light .sheet {
  background: #fff;
}
