---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>AoiChan</title>
</head>

<body>
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />

  <script>
    const theme = localStorage.getItem("theme") || "dark";
    document.documentElement.setAttribute("data-theme", theme);
  </script>
</body>
</html>
