---
import "../styles/global.css";
import "../styles/themes.css";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AoiChan</title>
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html> 
