---
import Navbar from '../components/Navbar.astro';
import ThemeToggle from '../components/ThemeToggle';
import SettingsPanel from '../components/SettingsPanel';
---

<html lang="en">
  <body>
    <Navbar>
      <ThemeToggle client:load />
      <SettingsPanel client:load />
    </Navbar>

    <main>
      <slot />
    </main>
  </body>
</html>
