---
import "../styles/global.css";
import "../styles/themes.css";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

import GlobalPlayer from "../components/media/GlobalPlayer.astro";
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO + SPEED -->
    <title>AoiChan</title>
    <meta name="description" content="AoiChan Website" />

    <!-- PRELOAD -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- THEME INIT (NO FLASH) -->
    <script>
      const theme = localStorage.getItem("theme");
      if (theme) document.documentElement.dataset.theme = theme;
    </script>
  </head>

  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />

    <GlobalPlayer />
  </body>
</html>
