---
import "../styles/global.css";
---
<!DOCTYPE html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SEO ADVANCED -->
    <meta name="description" content="AoiChan website 2026" />
    <meta property="og:title" content="AoiChan 2026" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og.png" />

    <!-- PWA -->
    <link rel="manifest" href="/manifest.json" />

    <!-- Prefetch -->
    <link rel="prefetch" href="/gallery" />
    <link rel="prefetch" href="/docs" />

    <title>AoiChan 2026</title>
  </head>

  <body>
    <input type="radio" name="theme" id="theme-light" hidden checked />
    <input type="radio" name="theme" id="theme-dark" hidden />
    <input type="radio" name="theme" id="theme-cyber" hidden />

    <slot />
  </body>
</html>
